/* Filename: shopstyles.css                                                                      */
/*                                                                                               */
/* Modul: CSS                                                                                    */
/*                                                                                               */
/* Autoren: José Fontanil & Reto Glanzmann                                                       */
/*                                                                                               */
/* Zweck: Beinhaltet alle Schrift-, Farb-, und Hintergrundeinst. für den Administrationsmodus    */
/*                                                                                               */
/* Sicherheitsstatus:        *** ADMIN ***                                                       */
/*                                                                                               */
/* Version: 1.4                                                                                  */
/*                                                                                               */
/* CVS-Version / Datum: $Id: shopstyles.css,v 1.16 2003/05/24 18:41:42 fontajos Exp $            */
/*                                                                                               */
/* ----------------------------------------------------------------------------------------------*/
/* Stylesheetdatei für Administrationsmodus (wird nicht veraendert)                              */
/* ----------------------------------------------------------------------------------------------*/

/* Globale Einstellungen                                                                         */
/* ---------------------                                                                         */

body {background: lightgrey; background-image:url(../Bilder/bg_admin.jpg); font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}

/* Fontfamilie und Textgroesse für die Standardeinstellung */
body  { font-size: 16px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
body, P, td, tr { font-size:16px;font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
body, B { font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular }
input, select, textarea, option { font-size:15px; font-family: Courier New, Courier, Monaco }

/* Vordefinierte Farben der Links (global) */
a:link { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px;}
a:visited { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px;}
a:active { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px;}
a:hover { color:#660000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px;}

/* Globale Titel-Tag Einstellungen */
h1 { font-size:30px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular}
h2 { font-size:25px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular}
h3 { font-size:20px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular}
h4 { font-size:16px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular}
h5 { font-size:12px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular}

/* Spezielle Linkklasse, wo der Link nicht unterstrichen wird (für Suchresultat)                 */
/* ----------------------------------------------------------------------------                  */
a:link.no_decoration { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px; /*"font-weight:bold;*/ text-decoration:none; }
a:visited.no_decoration { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px; /*font-weight:bold;*/ text-decoration:none; }
a:active.no_decoration { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:16px; /*font-weight:bold;*/ text-decoration:none; }
input.no_decoration, button  { color:#000000; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; font-size:12px; /*font-weight:bold;*/ text-decoration:none; }

